body {
  background-color: teal;
}

.card {
  width: 300px;
  height: 400px;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  font-size: 24px;
  padding: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}

#playing-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.left {
  align-self: flex-start;
}

.middle {
  display: flex;
  align-self: center;
  flex-direction: column;
}

.right {
  align-self: flex-end;
  transform: rotate(180deg);
}

.red {
  color: red;
}
