/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-width : 320px)
and (max-width : 480px) {
  header {
    font-size: 16px;
  }
}
 
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
  header {
    font-size: 24;
  }
}
 
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
  header {
    font-size: 20;
  }
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px) {
  header {
    font-size: 24px;
  }
}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
  header {
    font-size: 48px;
  }
}


* {
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  font-size: 32px;
}

code {
  font-family: "Consolas", monospace;
}

#navbar {
  position: fixed;
  width: 15vw;
  text-align: left;
  height: 100%;
  left: 0px;
  font-size: 16px;
}

#main-doc {
  display: inline-block;
  margin: 0 0 0 300px;
}

.nav-link {
  display: block;
  text-align: left;
  border-top: 1px solid black;
}
